# Elasticsearch
ES_HOST=http://YOUR_SERVER_IP:9202
ELASTIC_USER=elastic
ELASTIC_PASS=your_elasticsearch_password

# MongoDB
MONGO_URI=mongodb://localhost:27017
MONGO_DB=autosoc

# Indices
WAZUH_INDEX=wazuh-alerts-4.x-*
LIVE_INDEX=soc-live-alerts

# Security
SECRET_KEY=change_this_to_a_random_secret_string
SOC_ACTION_TOKEN=your_secret_firewall_token

# External APIs (used in n8n)
ABUSEIPDB_API_KEY=your_abuseipdb_key
VIRUSTOTAL_API_KEY=your_virustotal_key
IPGEOLOCATION_API_KEY=your_ipgeolocation_key
GOOGLE_GEMINI_API_KEY=your_gemini_key
GROQ_API_KEY=your_groq_key
TELEGRAM_BOT_TOKEN=your_telegram_bot_token
